*{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
}

.menu__items{
  display: flex;
  width: auto;
  margin: 0 1rem;
}

#menubar
{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

#background{
  width: 100%;
  padding-bottom: 18rem;
  position: relative;
  overflow: hidden;
  cursor: none;
}

#pause{
  font-size: 30px;
  padding: 5px;
  color: aliceblue;
}

#pause__icon{
  width: auto;
  cursor: pointer;
}

#score, #life{
  color: aliceblue;
}

.brick__row{
  display: flex;
  justify-content: center;
  padding: 0 10%;
}

.brick{
  display: inline-block;
  width: 8rem;
  height: 2rem;
  border: 1px solid black;
  background-color: aliceblue;
  margin: 3px;
}

.none{
  visibility: hidden;
}

#ball{
  width: 15px;
  height: 15px;
  background-color:aliceblue;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

#bar{
  width: 20rem;
  height: 0.7rem;
  border-radius: 25px;
  background-color: aliceblue;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
}

/* 바 위치: offsetleft - 바넓이/2 */
/* 충돌: 맞은 brick visibility hidden */
/* 충돌감지: brick class list에 hidden 있나 감지 */
/* 충돌가설: 공 지나가게 냅두고 class만 감지하게? */
/* Element.getBoundingClientRect() */
